{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/app/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
